<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnFwRuVSZMt9ydG9F6vMytWqFwtigo6AE</string>
	<key>GCM_SENDER_ID</key>
	<string>400297506525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carsApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cars-app-273ae</string>
	<key>STORAGE_BUCKET</key>
	<string>cars-app-273ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400297506525:ios:623298e7557807514c4d34</string>
</dict>
</plist>